@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: "Pixelify Sans", sans-serif !important;
}
.main {
  min-width: 90vw;
  min-height: 100vh;
  background: url(./assets/locations/snow_forest-location.webp);
  background-size: 70% 100%;
}

#main_character {
  position: absolute;
  z-index: 100;
}

img {
  width: 100%;
}

.character {
  width: 70px;
}

.house {
  width: 200px;
}

.user_actions {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.user_actions button {
  padding: 40px;
  border: 0;
  background-color: #f1f1f1;
  font-family: "Pixelify Sans", sans-serif !important;
  font-size: 30px;
}